@charset "utf-8";

/*  공용선택자 or 전체선택자 */
* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}



/* 클래스 선택자 */
.avatar-img {
    /* background-color: pink; */
    margin: 50px;
}

.desc {
    color: #c0bebe;
}

.bg-mattgreen {
    background-color: #6e965d;
    padding: 20px 0;
    margin: 20px 0;
}

.rounded-bar {
    background-color: #6e965d;
    padding: 15px 0;
    border-radius: 30px;
}

.inline-block {
    display: inline-block;

}

.block {
    display: block;
}

.text-center {
    text-align: center;
}
.p-0 {
    padding: 0px;
}

.m-0 {
    margin: 0px;
}

.p-10 {
    padding: 10px;
}

/* 후손 선택자 */
.bg-mattgreen h2 {
    color: white;

}

/* 태그 선택자 */
h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
}

h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
}

p {
    text-align: center;
    margin: 20px;
}

/* 아이디 선택자 - 문서 내에서 한번만 사용 -> 자주 사용시 class선택자 */
#text-white {
    color: #c0bebe;
}
